<div class = "searchSection">
  <div class = "searchChild">
    <mat-form-field appearance="outline" id = "patientId">
      <mat-label>Patient's ID</mat-label>
      <input matInput placeholder="Input Patient's ID number" [(ngModel)]="patentId">
      <mat-hint></mat-hint>
      </mat-form-field>

      <label>OR</label>

    <mat-form-field appearance="outline" id = "patientFN">
      <mat-label>Patient's First Name</mat-label>
      <input matInput placeholder="Input Patient's First Name" [(ngModel)]="patientFN">
      <mat-hint></mat-hint>
     </mat-form-field>

      <mat-form-field appearance="outline" id = "patientLN">
        <mat-label>Patient's Last Name</mat-label>
        <input matInput placeholder="Input Patient's Last Name" [(ngModel)]="patientLN">
        <mat-hint></mat-hint>
      </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSearch()">Search </button>
  </div>
</div>

<mat-accordion multi ="true" *ngIf = "SearchField.length > 0">
  <mat-expansion-panel *ngFor="let data of SearchField; let i = index; ">
    <mat-expansion-panel-header>
      <p>{{data.dv}}</p>
    </mat-expansion-panel-header>

    <div class = "table">
      <div class = "table-child">
        <table >
            <tr>
              <th>Patient's Id</th>
              <th>Patient's Gender</th>
              <th>Patient's Age</th>
              <th>Patient's First Name</th>
              <th>Patient's Last Name</th>
            </tr>

            <tr>
              <td>{{data.Pid}}</td>
              <td>{{data.gender}}</td>
              <td>{{data.age}}</td>
              <td>{{data.FN}}</td>
              <td>{{data.LN}}</td>
            </tr>
        </table>

        <table>
          <tr>
            <th>Trails</th>
            <th>Patient's Speed</th>
            <th>Patient's Time</th>
            <th>Assistive Device</th>
          </tr>

          <tr>
            <th>1</th>
            <td>{{data.speed1}}</td>
            <td>{{data.time1}}</td>
            <td>{{data.assistD1}}</td>
          </tr>

          <tr>
            <th>2</th>
            <td>{{data.speed2}}</td>
            <td>{{data.time2}}</td>
            <td>{{data.assistD2}}</td>
          </tr>

          <tr>
            <th>3</th>
            <td>{{data.speed3}}</td>
            <td>{{data.time3}}</td>
            <td>{{data.assistD3}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class = "gait">
      <p><b>Greatest Amount of Patient Assistance needed:  </b> {{data.Assistance}}</p>
      <h4>Gait Speed: {{gaitSpeed[i].gS}} (m/s)</h4>
    </div>

    <mat-action-row>
      <button mat-button color ="primary">EDIT</button>
      <button mat-button color ="warn" (click)="onDelete(data.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class = "info-text mat-body-2" *ngIf = "SearchField.length <= 0">Waiting for Patient's Data</p>
