<mat-accordion multi ="true" *ngIf = "patientData.length > 0">
  <mat-expansion-panel *ngFor="let data of patientData" >
    <mat-expansion-panel-header>
      <p>Patient Data</p>
    </mat-expansion-panel-header>
      <p>{{data.Pid}}</p>
      <p>{{data.dv}}</p>
      <p>{{data.gender}}</p>
      <p>{{data.age}}</p>
      <p>{{data.FN}}</p>
      <p>{{data.LN}}</p>
    <p>{{data.Assistance}}</p>
      <p>{{data.speed1}}</p>
      <p>{{data.speed2}}</p>
      <p>{{data.speed3}}</p>
      <p>{{data.time1 }}</p>
      <p>{{data.time2 }}</p>
      <p>{{data.time3 }}</p>
      <p>{{data.assistD1}}</p>
      <p>{{data.assistD2}}</p>
      <p>{{data.assistD3}}</p>


  </mat-expansion-panel>
</mat-accordion>
<p class = "info-text mat-body-2" *ngIf = "patientData.length <= 0">Waiting for Patient's Data</p>
