mat-card{
  margin-top: 10%;
  margin-bottom: 10%;
}

mat-card-title{
  text-align: center;
}

mat-form-field {
  margin: 25px;
}

/*--------------style for the form using div containers ----------------*/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.IdDate {
  text-align: center;
  width: 25%;
}

.PatientName {
  text-align: center;
}


.table{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.table-child{
  text-align: center;
}


th.mat-header-cell {
  text-align: center !important;
}
