mat-card{
  width: 50%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

mat-card-title{
  text-align: center;
}

mat-form-field {
  margin: 25px;
}

/*--------------style for the form using div containers ----------------*/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.IdDate {
  text-align: center;
  width: 25%;
}

.PatientName {
  text-align: center;
}


.table{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.table-child{
  text-align: center;
}

.mat-column-task{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

th.mat-header-cell {
  text-align: center !important;
}
